<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/index.html">{% image phosfate_logo.png %}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/phosphate_profiler/profiler.html" class="active">Profiler<sup>Beta</sup></a></li>
        <li><a href="{{site.baseurl}}/browse.html" class="active">Browse</a></li>
        <li><a href="{{site.baseurl}}/download.html" class="active">Download</a></li>
        <li><a href="{{site.baseurl}}/about.html" class="active">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
