
.footer{
    margin: 30px 0;
}

#netandsearch{
    margin-bottom: 21px;
}

.tab-content .tab-pane .well{
    background-color: #fcfcfc;
}

.cntainr .well{
    background-color: #fcfcfc;
    padding: 20px 0px;
}

#descriptionTable{
    /* font-size: 0.8em; */
}

#myTabContent{
    min-width: 480px;
}

#tabmenu{
    min-width: 480px;
}

#myTabContent .well{
    padding: 20px 0px;
}

.clickmsg {
    color: #999;
    font-weight:bold;
    text-align: center;
}

.barchart{
    height:100%;
    width:100%;
    display:none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.halfaxis line{
  fill: none;
  stroke: #d3d3d3;
  stroke-dasharray: 6,4; 
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.bar{
    cursor:pointer;
}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.x.axis path {
  display: none;
}

.bar text {
  fill: white;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
