.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.gnode{
    cursor:pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

body,html{
  height:100%;
  width:100%;
}

.cntainr{
	height:100%;
	width:100%;
	display:table;
}

.node.highlighted {
  fill: #f00;
}

label{
	font-size: 12px;
}

#network-view{
    height:100%;
    width:100%;
}

#mainpanel {
    padding: 15px;
    background-color: rgba(255, 255, 255, .8);
    z-index: 20;
    float:right;
    width:225px;
    border: 1px solid #a6a6a6;
    position:fixed;
    right:0px;
}
